<footer>
    <div class="w-full bg-footer">
        <div class="container">
            <div class="row pt-45 pb-45">
                <div class="col-6">
                    <div class="text-lg text-white font-semibold">Hotline cho Người tìm việc</div>
                    <div class="mt-30 row">
                        <div class="flex flx-wrap text-white">
                            <div class="flex">
                                <svg width="30px" height="30px" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-auto mr-4 h-full text-pri-16"><g clip-path="url(#headphoneprimary_svg__clip0)" fill="currentColor"><path d="M2.425 15.63a1.75 1.75 0 002.267-.993C7.335 7.872 13.736 3.5 21 3.5c7.263 0 13.664 4.372 16.307 11.137a1.75 1.75 0 002.267.992 1.75 1.75 0 00.994-2.267C37.394 5.246 29.715 0 21 0 12.285 0 4.605 5.246 1.432 13.363a1.75 1.75 0 00.993 2.267z"></path><path d="M34.903 19.41C34.111 12.436 28.182 6.998 21 6.998S7.89 12.436 7.097 19.41C3.061 20.185 0 23.74 0 27.998c0 4.825 3.925 8.75 8.75 8.75a1.75 1.75 0 001.75-1.75v-14c0-5.79 4.71-10.5 10.5-10.5s10.5 4.71 10.5 10.5v15.75c0 .965-.785 1.75-1.75 1.75h-3.5c-.965 0-1.75-.785-1.75-1.75a1.75 1.75 0 00-3.5 0 5.255 5.255 0 005.25 5.25h3.5a5.255 5.255 0 005.25-5.25v-.176c3.99-.813 7-4.348 7-8.574 0-4.26-3.06-7.813-7.097-8.588zM3.5 27.998A5.253 5.253 0 017 23.055v9.887a5.253 5.253 0 01-3.5-4.944zM35 32.942v-9.887a5.253 5.253 0 013.5 4.943 5.253 5.253 0 01-3.5 4.944z"></path></g><defs><clipPath id="headphoneprimary_svg__clip0"><path fill="#fff" d="M0 0h42v42H0z"></path></clipPath></defs></svg>
                                <div class="contact-hotline ml-15">
                                    <div class="contact-txt"><span>Hotline hỗ trợ miền Nam</span></div>
                                    <div class="contact-number">HCM: (028) 7109 2424</div>
                                </div>
                            </div>
                            <div class="flex ml-65">
                                <svg width="30px" height="30px" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-auto mr-4 h-full text-pri-16"><g clip-path="url(#headphoneprimary_svg__clip0)" fill="currentColor"><path d="M2.425 15.63a1.75 1.75 0 002.267-.993C7.335 7.872 13.736 3.5 21 3.5c7.263 0 13.664 4.372 16.307 11.137a1.75 1.75 0 002.267.992 1.75 1.75 0 00.994-2.267C37.394 5.246 29.715 0 21 0 12.285 0 4.605 5.246 1.432 13.363a1.75 1.75 0 00.993 2.267z"></path><path d="M34.903 19.41C34.111 12.436 28.182 6.998 21 6.998S7.89 12.436 7.097 19.41C3.061 20.185 0 23.74 0 27.998c0 4.825 3.925 8.75 8.75 8.75a1.75 1.75 0 001.75-1.75v-14c0-5.79 4.71-10.5 10.5-10.5s10.5 4.71 10.5 10.5v15.75c0 .965-.785 1.75-1.75 1.75h-3.5c-.965 0-1.75-.785-1.75-1.75a1.75 1.75 0 00-3.5 0 5.255 5.255 0 005.25 5.25h3.5a5.255 5.255 0 005.25-5.25v-.176c3.99-.813 7-4.348 7-8.574 0-4.26-3.06-7.813-7.097-8.588zM3.5 27.998A5.253 5.253 0 017 23.055v9.887a5.253 5.253 0 01-3.5-4.944zM35 32.942v-9.887a5.253 5.253 0 013.5 4.943 5.253 5.253 0 01-3.5 4.944z"></path></g><defs><clipPath id="headphoneprimary_svg__clip0"><path fill="#fff" d="M0 0h42v42H0z"></path></clipPath></defs></svg>
                                <div class="contact-hotline ml-15">
                                    <div class="contact-txt"><span>Hotline hỗ trợ miền Bắc</span></div>
                                    <div class="contact-number">HN: (028) 7309 2424</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="advise mt-20 flex text-white">
                        <span>hoặc</span>
                        <a href="#" class="btn-sec hov-df pd__btn ml-15" title="Đăng ký nhận tư vấn">Đăng ký nhận tư vấn</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-lg text-white font-semibold">Hotline cho Nhà tuyển dụng</div>
                    <div class="mt-30 row">
                        <div class="flex flx-wrap text-white">
                            <div class="flex">
                                <svg width="30px" height="30px" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-auto mr-4 h-full text-pri-16"><g clip-path="url(#headphoneprimary_svg__clip0)" fill="currentColor"><path d="M2.425 15.63a1.75 1.75 0 002.267-.993C7.335 7.872 13.736 3.5 21 3.5c7.263 0 13.664 4.372 16.307 11.137a1.75 1.75 0 002.267.992 1.75 1.75 0 00.994-2.267C37.394 5.246 29.715 0 21 0 12.285 0 4.605 5.246 1.432 13.363a1.75 1.75 0 00.993 2.267z"></path><path d="M34.903 19.41C34.111 12.436 28.182 6.998 21 6.998S7.89 12.436 7.097 19.41C3.061 20.185 0 23.74 0 27.998c0 4.825 3.925 8.75 8.75 8.75a1.75 1.75 0 001.75-1.75v-14c0-5.79 4.71-10.5 10.5-10.5s10.5 4.71 10.5 10.5v15.75c0 .965-.785 1.75-1.75 1.75h-3.5c-.965 0-1.75-.785-1.75-1.75a1.75 1.75 0 00-3.5 0 5.255 5.255 0 005.25 5.25h3.5a5.255 5.255 0 005.25-5.25v-.176c3.99-.813 7-4.348 7-8.574 0-4.26-3.06-7.813-7.097-8.588zM3.5 27.998A5.253 5.253 0 017 23.055v9.887a5.253 5.253 0 01-3.5-4.944zM35 32.942v-9.887a5.253 5.253 0 013.5 4.943 5.253 5.253 0 01-3.5 4.944z"></path></g><defs><clipPath id="headphoneprimary_svg__clip0"><path fill="#fff" d="M0 0h42v42H0z"></path></clipPath></defs></svg>
                                <div class="contact-hotline ml-15">
                                    <div class="contact-txt"><span>Hotline hỗ trợ miền Nam</span></div>
                                    <div class="contact-number">HCM: (028) 7108 2424</div>
                                </div>
                            </div>
                            <div class="flex ml-65">
                                <svg width="30px" height="30px" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-auto mr-4 h-full text-pri-16"><g clip-path="url(#headphoneprimary_svg__clip0)" fill="currentColor"><path d="M2.425 15.63a1.75 1.75 0 002.267-.993C7.335 7.872 13.736 3.5 21 3.5c7.263 0 13.664 4.372 16.307 11.137a1.75 1.75 0 002.267.992 1.75 1.75 0 00.994-2.267C37.394 5.246 29.715 0 21 0 12.285 0 4.605 5.246 1.432 13.363a1.75 1.75 0 00.993 2.267z"></path><path d="M34.903 19.41C34.111 12.436 28.182 6.998 21 6.998S7.89 12.436 7.097 19.41C3.061 20.185 0 23.74 0 27.998c0 4.825 3.925 8.75 8.75 8.75a1.75 1.75 0 001.75-1.75v-14c0-5.79 4.71-10.5 10.5-10.5s10.5 4.71 10.5 10.5v15.75c0 .965-.785 1.75-1.75 1.75h-3.5c-.965 0-1.75-.785-1.75-1.75a1.75 1.75 0 00-3.5 0 5.255 5.255 0 005.25 5.25h3.5a5.255 5.255 0 005.25-5.25v-.176c3.99-.813 7-4.348 7-8.574 0-4.26-3.06-7.813-7.097-8.588zM3.5 27.998A5.253 5.253 0 017 23.055v9.887a5.253 5.253 0 01-3.5-4.944zM35 32.942v-9.887a5.253 5.253 0 013.5 4.943 5.253 5.253 0 01-3.5 4.944z"></path></g><defs><clipPath id="headphoneprimary_svg__clip0"><path fill="#fff" d="M0 0h42v42H0z"></path></clipPath></defs></svg>
                                <div class="contact-hotline ml-15">
                                    <div class="contact-txt"><span>Hotline hỗ trợ miền Bắc</span></div>
                                    <div class="contact-number">HN: (028) 7308 2424</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="advise mt-20 flex text-white">
                        <span>hoặc</span>
                        <a href="#" class="btn-sec hov-df pd__btn ml-15" title="Đăng ký nhận tư vấn">Đăng ký nhận tư vấn</a>
                    </div>
                </div>
            </div>
            <div class="w-full border-top pt-30 pb-20">
                <ul class="grid-container no-list-style">
                    <li class="grid-item pd-1">
                        <a title="Việc làm Đồng Nai" href="/viec-lam-dong-nai-p120.html">Việc làm Đồng Nai</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Việc làm Bình Dương" href="/viec-lam-binh-duong-p119.html">Việc làm Bình Dương</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Việc làm Xây dựng" href="/mien-nam/viec-lam-xay-dung-o31.html">Việc làm Xây dựng</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Thiết kế CV" href="/cv/danh-sach-cv.html">Thiết kế CV</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Việc làm Bến Tre" href="/viec-lam-ben-tre-p125.html">Việc làm Bến Tre</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Việc làm Hải Phòng" href="/viec-lam-hai-phong-p92.html">Việc làm Hải Phòng</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Việc làm Nhân sự" href="/mien-nam/viec-lam-nhan-su-o22.html">Việc làm Nhân sự</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Trắc nghiệm tính cách" href="/personality-test">Trắc nghiệm tính cách</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Việc làm Đà Nẵng" href="/viec-lam-da-nang-p104.html">Việc làm Đà Nẵng</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Việc làm Đà Lạt" href="/viec-lam-lam-dong-p116.html">Việc làm Đà Lạt</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Việc làm IT Phần Mềm" href="/mien-nam/viec-lam-it-phan-cung-mang-vien-thong-o7.html">Việc làm IT Phần Mềm</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Công cụ tính lương" href="/tinh-luong-gross-sang-net.html">Công cụ tính lương</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Việc làm Vũng Tàu" href="/viec-lam-ba-ria-vung-tau-p121.html">Việc làm Vũng Tàu</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Việc làm Nha Trang" href="/viec-lam-khanh-hoa-p109.html">Việc làm Nha Trang</a>
                    </li>
                    <li class="grid-item pd-1">
                        <a title="Việc làm Chăm sóc khách hàng" href="/mien-nam/viec-lam-cham-soc-khach-hang-o30.html">Việc làm Chăm sóc khách hàng</a>
                    </li>
                </ul>
            </div>
            <div class="w-full border-top pt-30 pb-20">
                <div class="row">
                    <div class="col-7">
                        <div class="text-sm text-white font-semibold">Về chúng tôi</div>
                        <ul class="about-txt no-list-style mt-20">
                            <li class="item-li font-semibold">NewJobs.vn - Công Ty Cổ Phần NewJobs</li>
                            <li class="item-li">Trụ sở: Tòa nhà Siêu Việt, 23 Trần Cao Vân, Phường Đa Kao, Quận 1, TP Hồ Chí Minh</li>
                            <li class="item-li">Chi nhánh: Tầng 4, tòa nhà Times Tower, 35 Lê Văn Lương, Thanh Xuân, Hà Nội.</li>
                            <li class="item-li">Giấy phép hoạt động dịch vụ việc làm số: 4938/SLĐTBXH-GP do Sở Lao Động Thương Binh & Xã Hội TP.HCM cấp</li>
                            <li class="item-li">Điện thoại: (028) 7108 2424 | (024) 7308 2424</li>
                            <li class="item-li">Email hỗ trợ người tìm việc: ntv@newjobs.vn</li>
                            <li class="item-li">Email hỗ trợ nhà tuyển dụng: ntd@newjobs.vn</li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <div class="text-sm text-white font-semibold">Thông tin</div>
                        <ul class="about-txt no-list-style mt-20">
                            <li class="item-li">
                                <a title="Cẩm nang nghề nghiệp" href=#>Cẩm nang nghề nghiệp</a>
                            </li>
                            <li class="item-li">
                                <a title="Báo giá dịch vụ" href=#>Báo giá dịch vụ</a>
                            </li>
                            <li class="item-li">
                                <a title="Điều khoản sử dụng" href=#>Điều khoản sử dụng</a>
                            </li>
                            <li class="item-li">
                                <a title="Quy định bảo mật" href=#>Quy định bảo mật</a>
                            </li>
                            <li class="item-li">
                                <a title="Sơ đồ trang web" href=#>Sơ đồ trang web</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <div class="text-sm text-white font-semibold">Kết nối với chúng tôi</div>
                        <div class="flex mt-20">
                            <div class="icon">
                                <a title="Facebook" href=#>
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-3 cursor-pointer"><rect width="40" height="40" fill="#F6F9FC"></rect><path d="M26 16.25H21.5V13.25C21.5 12.422 22.172 11.75 23 11.75H24.5V8H21.5C19.0145 8 17 10.0145 17 12.5V16.25H14V20H17V32H21.5V20H24.5L26 16.25Z" fill="#1976D2"></path></svg>
                                </a>
                            </div>
                            <div class="icon ml-15">
                                <a title="Youtube" href=#>
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="cursor-pointer"><rect width="40" height="40" fill="#F6F9FC"></rect><path d="M30.98 13.34C30.329 12.182 29.6225 11.969 28.184 11.888C26.747 11.7905 23.1335 11.75 20.003 11.75C16.8665 11.75 13.2515 11.7905 11.816 11.8865C10.3805 11.969 9.6725 12.1805 9.0155 13.34C8.345 14.4965 8 16.4885 8 19.9955C8 19.9985 8 20 8 20C8 20.003 8 20.0045 8 20.0045V20.0075C8 23.4995 8.345 25.5065 9.0155 26.651C9.6725 27.809 10.379 28.019 11.8145 28.1165C13.2515 28.2005 16.8665 28.25 20.003 28.25C23.1335 28.25 26.747 28.2005 28.1855 28.118C29.624 28.0205 30.3305 27.8105 30.9815 26.6525C31.658 25.508 32 23.501 32 20.009C32 20.009 32 20.0045 32 20.0015C32 20.0015 32 19.9985 32 19.997C32 16.4885 31.658 14.4965 30.98 13.34Z" fill="#F44336"></path><path d="M17 24.5V15.5L24.5 20L17 24.5Z" fill="#FAFAFA"></path></svg>
                                </a>
                            </div>
                            <div class="icon ml-65">
                                <a href="" target="_blank" rel="noreferrer">
                                    <img alt="ic-bo-cong-thuong" height="32" witdh="84" src="/Images/ic-bo-cong thuong.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top w-full pt-30 pb-20">
                <div class="flex ">
                    <a href="https://nhanlucsieuviet.com/?utm_source=vieclam24h&amp;utm_medium=logofooter&amp;utm_campaign=homepage" target="_blank" rel="noreferrer">
                        <img alt="ic-bo-cong-thuong" height="20" witdh="84" src="/Images/Logo/logo-full.png">
                    </a>
                    <span class="pd-3 text-smx2 text-white font-semibold line-h26 ml-15">© 2023 - Bản quyền thuộc về NEWJOBS Group</span>
                </div>
            </div>
        </div>
    </div>
</footer>