<header>
    <div class="w-full bg-header">
        <div class="container">
            <div class="flex justify-between">
                <div class="flex h-28 justify-start">
                    <div class="flex h-full font-semibold text-se-header items-center">
                        <div class="flex w-auto">
                            <a href="#" rel="noreferrer">
                                <img alt="NewJobs" width="154" src="/Images/Logo/logo-full.png">
                            </a>
                        </div>
                        <div class="border-l ml-15 h-full"></div>
                        <a class="pl-7 pr-5 py-2 line-h34 text-white h-full items-center btn-hov" href="#" rel="noreferrer">
                            <div id="co_hoi_viec_lam" class="whitespace-nowrap cursor-pointer ">Cơ hội việc làm</div>
                        </a>
                        <div class="pl-7 pr-5 py-2 line-h34 text-white h-full items-center btn-hov">
                            <div id="co_hoi_viec_lam" class="whitespace-nowrap cursor-pointer flex whitespace-nowrap">
                                Công cụ
                                <span class="font-semibold text-white px-2 rounded-lg leading-4 bg-new fs-10 icon-new">MỚI</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-caret-down-fill icon-new " viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-end h-16 "></div>
            </div>
        </div>
    </div>
</header>